:root {
    --cor-principal: #2c3e50;
    --cor-detalhe: #e67e22;
    --cor-fundo: #f4f7f6;
    --cor-texto: #333;
    --branco: #ffffff;
    --transicao: all 0.3s ease;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6; 
    color: #333; 
    line-height: 1.6;
}

.cabecalho {
    background-color: var(--cor-principal);
    color: var(--branco);
    padding: 1rem 0;
}

.cabecalho2 {
    display: flex;           
    flex-direction: row;       
    justify-content: space-between; 
    align-items: center;      
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #2c3e50; 
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}



nav ul {
    display: flex;
    gap: 20px; 
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e67e22; 
}


.contato {
    background: #ffffff;
    padding: 40px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.contato h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}


.contato-form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-top: 30px;
}

.campo {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    flex: 1; 
}

button {
    background-color: #e67e22; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #2c3e50;
    transform: translateY(-2px);
}


footer {
    background-color: #333;
    color: #fff; 
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline; 
}

@media (max-width: 600px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}
