:root {
    --cor-principal: #2c3e50;
    --cor-detalhe: #e67e22;
    --cor-fundo: #f4f7f6;
    --cor-texto: #333;
    --branco: #ffffff;
    --transicao: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease; 
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f7f6; 
    color: #333;              
    line-height: 1.6;
}


.container {
    max-width: 600px; 
    margin: 0 auto;
    padding: 0 20px;
}


.cabecalho {
    background-color: #2c3e50; 
    padding: 25px 0;
    display: flex;           
    justify-content: center;  
    align-items: center;      
    position: relative; 
}

.btn-voltar {
    position: absolute;
    left: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid #e67e22; 
    border-radius: 4px;       
}


.btn-voltar:hover {
    background-color: #e67e22;
    color: #ffffff;
}

.logo {
    color: #ffffff;          
    font-size: 2.2rem;
    letter-spacing: 1px;
}


.form-pagamento {
    background: #ffffff;       
    margin-top: 40px;
    padding: 40px;
    border-radius: 12px;       
    border: 1px solid #ddd;   
    display: flex;            
    flex-direction: column;   
    gap: 20px;                 
}

.pagamento-header {
    display: flex;             
    align-items: center;        
    gap: 15px;                
    border-bottom: 2px solid #f4f7f6;
    padding-bottom: 20px;
}

.icon-cart {
    font-size: 1.8rem;
    background: #f4f7f6;
    padding: 12px;
    border-radius: 50%;
}

.titulo-texto h2 {
    font-size: 1.3rem;
    color: #2c3e50;
}

.titulo-texto p {
    font-size: 0.8rem;
    color: #e67e22;           
    font-weight: bold;
    text-transform: uppercase;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo-grupo {
    display: flex;
    flex-direction: column;
}

.linha-dupla {
    display: flex;            
    gap: 20px;                 
    flex-wrap: wrap;          
}

.linha-dupla .campo-grupo {
    flex: 1;                 
    min-width: 120px;
}

label {
    margin-bottom: 6px;
    font-weight: 600;
}

input {
    padding: 12px;           
    border: 2px solid #eee;    
    border-radius: 6px;        
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #e67e22;     
}

button {
    background-color: #e67e22; 
    color: #ffffff;            
    padding: 15px;             
    border: none;
    border-radius: 6px;        
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
}

button:hover {
    background-color: #2c3e50; 
    transform: translateY(-2px); 
}

footer {
    background-color: #333;
    color: #fff; 
    text-align: center;
    position: relative;
    width: 100%;
    position: fixed;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline; 
}
