:root {
    --cor-principal: #2c3e50;
    --cor-detalhe: #e67e22;
    --cor-fundo: #f4f7f6;
    --cor-texto: #333;
    --branco: #ffffff;
    --transicao: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;              
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #2c3e50; 
    padding: 20px 0;
}

nav {
    display: flex;            
    justify-content: space-between;
    align-items: center;       
}


.logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;          
    text-decoration: none;
}

.logo span {
    color: #e67e22;        
}

nav ul {
    display: flex;
    gap: 20px;               
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e67e22;         
}


.sobre-detalhes {
    padding: 60px 0;
}

.sobre-flex-container {
    display: flex;            
    flex-wrap: wrap;          
    gap: 40px;             
    align-items: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;     
    border: 1px solid #ddd;    
}

.sobre-texto {
    flex: 1;                 
    min-width: 300px;
}

.sobre-texto h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}
.sobre-imagem {
    flex: 1;                
    display: flex;
    justify-content: center;
}

.sobre-imagem img {
    max-width: 100%;
    border-radius: 8px;
    border-bottom: 5px solid #e67e22;
}

.btn-acao {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #e67e22;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-acao:hover {
    background-color: #2c3e50;
    transform: translateY(-2px);
}

footer {
    background-color: #333;
    color: #fff; 
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline; 
}
